.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 24px
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  padding: 40px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#namePhotographer {
  align-self: center;
  width: 100%;
  text-align: center;
}

#namePhotographer h2 {
  font-size: 55px;
}

#namePhotographer h3 {
  color: #901c1c;
  font-size: 28px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  order: -1;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;  
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 100%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  align-self: center;
  
  margin: 0;
}

.form-input-marge {
  margin-top: 45px;
}

#gallery img,
#gallery video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 96px;
}

#gallery img {
  /*margin-bottom: 85px; */
}

#gallery img:nth-child(1),
#gallery img:nth-child(3),
#gallery img:nth-child(7) {
  object-position: center top;
}

#gallery img[src="assets/media/925/Fashion_Wings.jpg"] {
  object-position: center top;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container p {
  color: #901c1c;
  font-size: 19px;
  font-weight: bold;
}

.info-container .likes {
  margin-left: auto;
  margin-right: 0;
  padding-right: 10px;
}

.info-container .heart {
  font-size: 23px;
  color: #901c1c;
}

.info-container i:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #gallery {
    grid-template-columns: 1fr 1fr;
    gap: 96px;
  }

  .photograph-header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #namePhotographer {
    text-align: left;
    width: auto;
  }

  .contact_button {
    width: 170px;
  }

  .photograph-header img {
    order: 3;
  }

  .dropdown select{
    width: 160px !important;
  }
}

@media screen and (min-width: 1024px) {
  #gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.info-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #db8876;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.likes-container {
  display: flex;
  align-items: center;
}

.likes-container i {
  margin-left: 5px;
}

.info-bar {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown select {
  background-color: #901c1c;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  appearance: none;
  padding-right: 30px;
  width: 100%;
  font-size: 20px;
  border-radius: 8px 8px 8px 8px;
}

.dropdown i {
  position: absolute;
  top: 50%;
  right: 12px; /* Ajustez selon votre préférence */
  transform: translateY(-50%);
  pointer-events: none;
  color: #fafafa;
  font-size: 20px;
  right: 88%;
}
.sorting-container {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.sort-by {
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
  flex-shrink: 0;
}

/* Style de la modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3573c; /* Couleur de fond de la modal */
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  width: 50%;
  height: 870px;
}

/* Style du contenu de la modal */
.modal .content {
  color: white;
}

/* Style du bouton de fermeture */
.modal header img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.button-container {
  background-color: #901c1c;
  padding: 19px;
  border-radius: 5px;
  text-align: center;
  width: 13%;
}

.button-container button {
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
  align-self: center;
}

#message-input {
  height: 165px;
}

.info-form h2 {
  font-size: 55px;
  font-weight: normal;
  margin: 0;
}

.info-form h3 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
 
}

.carousel {
  display: none;
  position: fixed; 
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; 
  align-items: center; 
  justify-content: center; 
}
.slider-container {
  background: white;
  z-index: 2;
  width: 80%;
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  opacity: 0;
  transition: opacity 2s linear;
}

.slider-container li {
  display: flex;
  flex-direction: column;
}

.slider-container li p {
  margin-top: 10px;
  color: #901c1c;
  font-size: 31px;
}
 
 
.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.slider {
  display: flex;
  transition: all .250s linear;
}

.carousel .slide img {
  max-width: 50%;
  height: auto;
  height: 800px;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  border: none;
  padding: 10px 80px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 80px; 
}

.next {
  right: 25px;
}

.prev {
  left: 25px;
}

.overlay {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}